html body {
    background-image: url(https://cataas.com/cat/gif);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}